<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Lista de Administradores</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" style="width: 100%;">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Email</th>
                  <th>Criado em</th>
                  <th>
                    <%= link_to new_admins_backoffice_admin_path, class:"btn btn-success btn-circle" do %>
                      <i class="fa fa-plus"></i>
                    <% end %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @admins.each_with_index do |admin, index| %>
                  <tr class="<%= index.even? ? 'even' : 'odd' %>">
                    <td><%= admin.id %></td>
                    <td><%= admin.email %></td>
                    <td><%= l(admin.created_at, format: :short) %></td>
                    <td>
                      <%= link_to edit_admins_backoffice_admin_path(admin), class: "btn btn-primary btn-circle" do %>
                        <i class="fas fa-edit"></i>
                      <% end %>
                      <%= link_to admins_backoffice_admin_path(admin), 
                        method: :delete, 
                        class: "btn btn-danger btn-circle", 
                        data: { turbo_method: :delete, turbo_confirm: "Deseja realmente excluir esse administrador?" } do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="text-center">
              <%= paginate @admins %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
