<section class="d-flex justify-content-center align-items-center mt-5">
  <div class="w-50">
    <h1 class="h3 mb-4 text-center"><%= action_message %> Administrador</h1>
    <% if @admin.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show">
        <h4 class="mb-3">Ocorreram os seguintes erros:</h4>
        <ul>
          <% @admin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
      </div>
    <% end %>
    <%= form_with(model: [:admins_backoffice, @admin], class: "user p-4", local: true, data: { turbo: "false" }) do |form| %>
      <div class="form-group mb-3">
        <%= form.label :email, "Email" %>
        <%= form.email_field :email, class: "form-control form-control-user mb-3", placeholder: "Email", id: "email" %>
        <%= form.label :password, "Senha" %>
        <%= form.password_field :password, class: "form-control form-control-user mb-3", placeholder: "Senha", id: "password" %>
        <%= form.label :password_confirmation, "Confirmar senha" %>
        <%= form.password_field :password_confirmation, class: "form-control form-control-user mb-4", placeholder: "Confirmar senha", id: "confirmPassword" %>
      </div>
      <%= form.submit "Salvar", class: "btn btn-primary btn-user btn-block" %>
      <hr>
    <% end %>
  </div>
</section>
